/*colors used:
background #282828
lightest orange #ffc184
light orange #ffa964
med orange #f99240
dark orange #eb7110
lightest purple #ece0ed
light purple #d0b3d3
med purple #ac8161
dark purple #8f5795
darkest purple #713178
 */

:root {
  --background: #282828;
  --lightest_orange: #ffc184;
  --light_orange: #ffa964;
  --med_orange: #f99240;
  --dark_orange: #eb7110;
  --lightest_purple: #ece0ed;
  --light_purple: #d0b3d3;
  --med_purple: #ac8161;
  --dark_purple: #8f5795;
  --darkest_purple: #713178;
  --transition-duration: 0.2s;
  --opacity: 0.8;
  --border_radius: 3px;
  --padding: 20px;
  --box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.4);
}

/*font used: Montserrat reg 400*/

/*
*general styling
*/

body {
  background-color: var(--background);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: var(--light_purple);
  line-height: 2;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

/*
*header styling
*/

.page-header {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap; /* wraps on smaller screens */
  height: auto;
  padding: var(--padding);
}

.page-header__item {
  display: flex;
  padding: var(--padding);
}

.page-header__item-logo {
  height: 110px;
  animation-iteration-count: 1;
  box-shadow: var(--box-shadow);
}

/*
* navigation styling 
*/

.navigation-list {
  display: flex;
  justify-content: space-around; /* centers on smaller screens */
  flex-wrap: wrap; /* wraps on smaller screens */
  position: relative;
  list-style: none;
  font-size: 1.2rem;
  transition-duration: var(--transition-duration);
}

.navigation-list__item {
  position: relative;
  text-decoration: none;
  margin-right: 15px;
  padding: 10px 15px;
  cursor: pointer;
  color: var(--lightest_orange);
}

.navigation-list__item:before {
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  content: ""; /* this is necessary for the pseudo element to work */
  background: var(--light_purple);
  opacity: 0.3;
  transition: all 0.3s;
  transition-duration: var(--transition-duration);
}

.navigation-list__item:hover:before {
  height: 100%; /* makes the underline appear */
}

/*
* home pg styling
*/

h1 {
  color: var(--lightest_orange);
}

.profile {
  display: flex;
  justify-content: center; /* centers on smaller screens */
  align-items: center;
  max-width: 100%; /* makes it responsive */
  margin: auto;
  padding: var(--padding);
  margin-bottom: 100px; /*adds space below for footer only on this pg */
}

.profile__portrait {
  width: 100%; /* makes it responsive */
  max-width: 200px;
  margin-right: 40px;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
}

.profile__description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main-name {
  color: var(--lightest_orange);
}

.descriptor-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.descriptor-item {
  opacity: 0;
  font-size: 1.2rem; /* makes it responsive */
  transform: translateX(100%);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.descriptor-item.visible {
  opacity: 1;
  transform: translateX(0);
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.descriptor-item:nth-child(1) {
  animation-delay: 0.2s;
}

.descriptor-item:nth-child(2) {
  animation-delay: 0.4s;
}

.descriptor-item:nth-child(3) {
  animation-delay: 0.6s;
}

@media (max-width: 768px) {
  .profile__portrait {
    max-width: 150px;
  }
}

@media (max-width: 500px) {
  .profile__portrait {
    max-width: 100px;
  }

  .descriptor-item {
    font-size: 1rem;
  }
}

/*
* work pg styling
*/

/* .workpage__header {
  display: flex;
  justify-content: center;
  font-size: 35px;
} */

.project-page {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 35px;
}

h3 {
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 35px;
  margin-bottom: 35px;
  grid-gap: 20px;
}

.grid__item {
  position: relative;
  box-shadow: var(--box-shadow);
}

.grid__item-img {
  display: block;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--lightest_purple);
  overflow: hidden; /* prevents text from overflowing */
  width: 100%;
  height: 0;
  transition: var(--transition-duration) ease;
}

.grid__item:hover .overlay {
  height: 100%; /* makes the overlay appear */
  opacity: var(--opacity);
}

.grid__item-text {
  background-color: var(--light_purple) 0.5;
  color: var(--darkest_purple);
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* 
*about page stylings 
*/

/* .about-page {
  text-align: center;
  margin: 0;
  padding: 0;
} */

.about-page {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 35px;
}

.about-name {
  color: var(--dark_orange);
}

.grid__about {
  display: grid;
  grid-template-columns: 1fr 1fr; /* actually works on lg screens */
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
  margin: 0 35px;
  margin-bottom: 35px;
  grid-gap: 20px;
}

.grid-item__about {
  position: relative;
  border-radius: var(--border_radius);
  box-shadow: var(--box-shadow);
}

.grid-item__about-img {
  display: block;
  max-width: 100%;
  height: 100%;
  border-radius: var(--border_radius);
}

.span-name {
  color: var(--lightest_orange);
}

.item1,
.item2 {
  background-color: #fff;
  opacity: 0.8;
  color: var(--darkest_purple);
  text-decoration: none;
  padding: var(--padding);
  margin: 10px;
  border-radius: var(--border_radius);
}

.item1,
.item2 ul {
  list-style-type: none;
}

.item3 {
  grid-column: 1 / 3;
  background-color: #fff;
  opacity: 0.8;
  color: var(--darkest_purple);
  text-decoration: none;
  padding: var(--padding);
  margin: 10px;
  border-radius: var(--border_radius);
}

.scrolling_techs {
  display: flex;
  width: 100%;
  animation: scrolling_techs 20s linear infinite;
}

.scrolling_techs span {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

@keyframes scrolling_techs {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  box-sizing: border-box;
}

.modal-content {
  position: relative;
  margin: auto;
  display: block;
  padding: 20px;
  width: 88%;
  max-width: 900px;
  height: calc(100% - 40px);
  overflow-y: auto;
  background-color: lightgray;
  border: 3px solid var(--dark_purple);
  border-radius: var(--border_radius);
}

.modal-content iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.modal-content img {
  width: 100%;
  height: auto;
}

.close {
  color: var(--dark_purple);
  position: absolute;
  top: 1px;
  right: 1px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: var(--dark_orange);
  text-decoration: none;
  cursor: pointer;
}

/*
* USA-OR animation styling
*/

#BACKGROUND {
  opacity: 0;
}

@keyframes color-change__text {
  0% {
    fill: var(--lightest_purple);
    font-size: 12px;
  }
  25% {
    fill: var(--lightest_orange);
    font-size: 14px;
  }
  50% {
    fill: var(--light_orange);
    font-size: 16px;
  }
  75% {
    fill: var(--med_orange);
    font-size: 18px;
  }
  100% {
    fill: var(--dark_orange);
    font-size: 20px;
  }
}

.color-change__text {
  animation: 3s color-change__text infinite alternate linear;
}

/*
* contact pg styling 
*/

.contact-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 35px;
}

.contact-list {
  list-style: none;
}

.contact-page__item {
  color: var(--lightest_orange);
  transition-duration: var(--transition-duration);
  text-decoration: none;
}

.contact-page__item:hover {
  color: var(--med_orange);
  text-decoration: underline;
  cursor: pointer;
  transition-duration: var(--transition-duration);
}

.contact-page__item:active {
  color: var(--light_purple);
}

/*
* footer styling
*/

.page-footer {
  color: var(--lightest_orange);
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1rem;
}

.social-media {
  padding: 5px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.social-media__item {
  padding: 5px;
  transition-duration: var(--transition-duration);
  width: 60px;
}

.social-media__item:hover {
  color: var(--lightest_orange);
  cursor: pointer;
  opacity: var(--opacity);
}

.social-media__item:active {
  color: var(--dark_orange);
}

.footer__plumtree-favicon {
  width: 50px;
  height: auto;
  padding: 5px;
}

/*
*responsive design
*/

@media (max-width: 500px) {
  .main-name {
    display: block; /* on own line */
    text-align: center;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin: 10px;
  }
  .grid__about {
    /* grid-template-columns: 1fr; */ /* isn't working */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
    margin: 10px;
  }
  .item3 {
    grid-column: 1 / 2;
  }
  body {
    font-size: 0.8rem;
    padding-top: 0;
  }
  h1 {
    font-size: 1rem;
  }
  h2 {
    font-size: 0.8rem;
  }
  h3 {
    font-size: 0.7rem;
  }
  .page-header {
    align-items: flex-end; /* aligns all items to bottom */
    margin-top: 0; /* removes space above */
    padding-top: 0; /* removes space above */
  }
  .page-header__item-logo {
    display: inline-block;
    height: 65px;
  }
  .navigation-list {
    display: inline-block;
    width: calc(100% - 75px); /* makes it inline with logo */
    column-count: 2;
    column-gap: 20px;
    padding: 0; /* removes space around */
    margin: 0; /* removes space around */
  }
  .navigation-list,
  .page-footer {
    font-size: 0.6rem;
  }
  .descriptor-item {
    font-size: 0.8rem;
  }
  .about-name {
    font-size: 0.7rem;
  }
  .grid__item-text {
    font-size: 0.4rem;
  }
  .project-page,
  .about-page,
  .contact-form {
    margin: 10px;
    text-align: center;
  }
}
@media (min-width: 501px) and (max-width: 1000px) {
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin: 10px;
  }
  .grid__about {
    /* grid-template-columns: 1fr; */ /* isn't working */
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 10px;
    margin: 10px;
  }
  .item3 {
    grid-column: span 1;
  }
  body {
    font-size: 1rem;
  }
  h1 {
    font-size: 1.3rem;
  }
  h2 {
    font-size: 1.1rem;
  }
  h3 {
    font-size: 1rem;
  }
  .page-header__item-logo {
    height: 80px;
  }
  .navigation-list,
  .page-footer {
    font-size: 0.8rem;
  }
  .descriptor-item {
    font-size: 1rem;
  }
  .project-page,
  .about-page,
  .contact-form {
    margin: 10px;
    text-align: center;
  }
  .about-name {
    font-size: 1rem;
  }
  .grid__item-text {
    font-size: 0.9rem;
  }
}
